<html>
	<head>
		<%- include('includeCssJs')%>
	</head>
	<body>
		<div class='row'>
			<div class="col-md-12">
				<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
					<a class="navbar-brand" href="/home">Disparo de E-mail do BI</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarColor01">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administrativo</a>
								<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 42px, 0px);">
									<a class="dropdown-item" href="/user">Listar usuários</a>
									<a class="dropdown-item" href="/user-new">Cadastrar usuário</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Disparos</a>
								<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 42px, 0px);">
									<a class="dropdown-item" href="/schedullers">Listar disparos</a>
									<a class="dropdown-item" href="/scheduller">Cadastrar disparo</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Meus Dados</a>
								<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 42px, 0px);">
									<a class="dropdown-item" href="/user/me">Atualizar dados</a>
									<a class="dropdown-item" href="#">Alterar senha</a>
								</div>
							</li>
							
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<div class='container' id='html-content'>